[user]
    name = Pascal Wang
    email = p331090144@hotmail.com

[core]
    editor = vim
    autocrlf = input

[init]
    defaultBranch = main

[color]
    ui = auto

[alias]
    # 超強視覺化 Log：打 git lg 就能看到漂亮的支線圖
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    
	st = status
	co = checkout
	br = branch
    ci = commit
    ps = push
    pl = pull
	cm = commit -m

[pull]
    rebase = false

[push]
    autoSetupRemote = true
[diff]
	tool = vimdiff
[merge]
	tool = vimdiff
